/* IMPORTAÇÕES */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* VARIÁVEIS */
:root{
    --branco: #FFFFFF;
    --verde-escuro: #185E2C;
    --verde-claro: #3FA66C;
    --verde:#094019;
}

/* HEADER */
/* HEADER */
.cabecalho{
    width: 100%;
    background-color: var(--verde-escuro);
    display: flex;
    flex-direction: row;
    padding: 10px;
   justify-content: space-around;
   gap: 70vw;
}
.Logout{
    margin: auto;
}
.LogoFiguei{
    margin: auto;
}
main{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: auto;
    align-items: center;
    text-align: center;
}
.AllFerramentas{
    color: #000000;
    font-family: 'Roboto';
    font-size: 13px;
    font-weight: bold;
}
.Ferramentas{
    display: flex;
    flex-direction: column;
    gap: 30px
}
/* FERRAMENTA CARDÁPIO */
.editarCardapio{
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(11, 11, 11, 0.1);
    border-radius: 15px;
    width: 350px;
    height: 110px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 10px
}
.Menu{
    width: 50px;
}
.ferramentaCardapio{
    font-size: 13px;
    font-family: 'Roboto';
    font-weight: bold;
    display: flex;
    flex-direction: row;
    gap: 210px
}
.arrow1 img{
    transform: rotate(-90deg);
    width: 12px;
}
/* FERRAMENTA SALAS LIBERADAS */
.SalasLiberadas{
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(11, 11, 11, 0.1);
    border-radius: 15px;
    width: 350px;
    height: 110px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 10px;
}
.people{
    width: 50px;
}
.ferramentaSalasLiberadas{
    font-size: 13px;
    font-family: 'Roboto';
    font-weight: bold;
    display: flex;
    flex-direction: row;
    gap: 235px
}
/* FERRAMENTA FREQUÊNCIA */
.frequencia{
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(11, 11, 11, 0.1);
    border-radius: 15px;
    width: 350px;
    height: 110px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 10px;
}
.student{
    width: 45px;
}
.ferramentaFrequencia{
    font-size: 13px;
    font-family: 'Roboto';
    font-weight: bold;
    display: flex;
    flex-direction: row;
    gap: 150px
}
/* FERRAMENTA PARA CALCULAR INGREDIENTES */
.calculeIngredientes{
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(11, 11, 11, 0.1);
    border-radius: 15px;
    width: 350px;
    height: 110px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 5px 10px;
}
.foodIcon{
    width: 50px;
}
.ferramentaCalculadora{
    font-size: 13px;
    font-family: 'Roboto';
    font-weight: bold;
    display: flex;
    flex-direction: row;
    gap: 90px
}
.createAccount{
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(11, 11, 11, 0.1);
    border-radius: 15px;
    width: 350px;
    height: 110px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 5px;
}
.createUser{
    width: 50px;
}
.ferramentaCriarConta{
    font-size: 13px;
    font-family: 'Roboto';
    font-weight: bold;
    display: flex;
    flex-direction: row;
    margin-left: 5px;
    gap: 235px
}
@media screen and (max-width: 400px){
main{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
    align-items: flex-start;
}
.AllFerramentas{
    color: #000000;
    font-family: 'Roboto';
    font-size: 13px;
    font-weight: bold;
    text-align: left;
    margin: 0;
}
.Ferramentas{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

/* FERRAMENTA FREQUÊNCIA */
.frequencia{
    width: 310px;
    gap: 30px;
   margin: auto;
}
.student{
    width: 45px;
}
.ferramentaFrequencia{
    font-size: 13px;
    font-family: 'Roboto';
    font-weight: bold;
    display: flex;
    flex-direction: row;
    gap: 131px
}
/* FERRAMENTA CONTROLE DAS SALAS */

.SalasLiberadas{
    width: 310px;
    margin: auto;
}
.ferramentaSalasLiberadas{
    gap: 215px
}
/* FERRAMENTA CARDÁPIO */
.editarCardapio{
    width: 310px;
    margin: auto;
    gap: 40px;
}
.Menu{
    width: 50px;
}
.ferramentaCardapio{
    font-size: 13px;
    gap: 190px
}
.arrow1 img{
    transform: rotate(-90deg);
    width: 11px;
}
/* FERRAMENTA PARA CALCULAR INGREDIENTES */
.calculeIngredientes{
   width: 310px;
   margin: auto;
   padding: 03px;
}
.foodIcon{
    width: 50px;
}
.ferramentaCalculadora{
    font-size: 12px;
}
/* FERRAMENTA CRIAR CONTA */
.createAccount{
    width: 310px;
    margin: auto;
}
.ferramentaCriarConta{
    gap: 210px;
}
}