/* IMPORTAÇÕES */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* VARIÁVEIS */
:root{
    --branco: #FFFFFF;
    --verde-escuro: #185E2C;
    --verde-claro:#F9FFFB;  
    --verde-escuro-fonte: #094019;

}
body{
    height: 100%;
}
/* HEADER */
.cabecalho{
    width: 100%;
    background-color: var(--verde-escuro);
    display: flex;
    flex-direction: row;
    padding: 20px;
   justify-content: space-around;
   gap: 70vw;
}
.cabecalhoTela5{
    width: 100%;
    background-color: var(--verde-escuro);
    display: flex;
    flex-direction: row;
    padding: 20px;
   justify-content: space-around;
   gap: 55vw
}
.Logout{
    margin: auto;
}
.LogoFiguei{
    margin: auto;
}
.cronogramaSemanal{
    font-family: 'Roboto';
    font-weight: 700;
    margin: auto;
    text-align: center;
    margin-top: 30px;

}
details{
    width: 340px;
    box-shadow: 0px 4px 10px rgba(11, 11, 11, 0.1);
    border-radius: 15px;
    text-align: left;
    padding: 22px;
    font-family: 'Roboto';
    margin: auto;
    font-size: 15px;
    margin-top: 30px;
}
details summary{
    display: flex;
    flex-direction: row;
    font-weight: bold;
    gap: 178px;
}
details table{
    margin-top: 30px;
}
details[open] summary{
    color: var(--verde-escuro-fonte);
}
details[open]{
    background-color: var(--verde-claro);
}
details summary span img{
    transition: 0.3s;
}
details[open] summary span img{
    transition: 0.3s;
    transform: rotate(-180deg);
}
details summary::marker{
    font-size: 0px;
}
table{
    line-height: 30px;
    font-size: 15px;
}
tr{
    width: 290px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 5px;
    text-align: center;
}
th{
    border-right: 0.2px solid rgba(9, 64, 25, 0.1);
    padding-right: 4px;
    text-align: center;
    align-self: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.line1{
    border-top: 0.1px solid rgba(9, 64, 25, 0.1) ;
    padding-top: 5px;
}
.line2{
    border-top: 0.1px solid rgba(9, 64, 25, 0.1) ;
    padding-top: 5px;
}
.line3{
    border-top: 0.1px solid rgba(9, 64, 25, 0.1) ;
    padding-top: 5px;
}
.Terça-feira summary{
    gap: 198px
}
.Quarta-feira summary{
    gap:190px
}
.Quinta-feira summary{
    gap: 193px
}
.Sexta-feira summary{
    gap: 200px
}

.info{
    width: 15px;
    padding-top: 6px;
   
}

/* OPÇÃO PARA VOLTAR e TELA 5*/
.Voltar{
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin: auto;
    text-align: center;
}
.Voltar p{
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 12px;
    margin-top: 1px;
}
.arrowBack{
    width: 15px;
    height: 13px;
}   
.editIcon{
    margin: auto;
    width: 13px;
    padding-top: 8px;
   
}
.content{
    font-size: 13px;
    text-align: center;
    align-content: center;
    width: 215px;
    margin: auto;
}
.content2{
    font-size: 13px;
    text-align: center;
    align-content: center;
    width: 215px;
}
.editInput{
    cursor: pointer;
    width: 235px;
    height: 50px;
    background-color: var(--verde-claro);
}
.ConclusionButton {
    padding: 10px;
    width: 150px;
    background-color: var(--verde-escuro);
    color: var(--branco);
    margin: auto;
    text-align: center;
    margin-top: 10px;
    border-radius: 15px;
}
.feedbackIcon{
    background-color: var(--verde-escuro);
    width: 64px;
    height: 64px;
    align-content: center;
    text-align: center;
    border-radius: 100px;
    margin-left: 87%;
    margin-top: 15%;
}
.feedbackIcon a img{
    margin-top: 17px;
    width: 25px;

}
/* TEXTO */
@media screen and (max-width: 400px) {
    .cabecalho{
        gap: 70vw
} 
main{
    width: 100%;
    padding: 23px;
    display: flex;
    flex-direction: column;
    gap:10px
}
.cronogramaSemanal{
    font-family: 'Roboto';
    font-weight: 700;
    text-align: left;
    margin: 0;
    margin-left: 20px;
}
/* DETAILS CARDÁPIOS */
details{
    width: 320px;
    box-shadow: 0px 4px 10px rgba(11, 11, 11, 0.1);
    border-radius: 15px;
    text-align: left;
    padding: 22px;
    font-family: 'Roboto';
    margin: auto;
    font-size: 15px;
 
}
details summary{
    display: flex;
    flex-direction: row;
    font-weight: bold;
    gap: 177px;
}
details table{
    margin-top: 30px;
}
details[open] summary{
    color: var(--verde-escuro-fonte);
}
details[open]{
    background-color: var(--verde-claro);
}
details summary span img{
    transition: 0.3s;
    position: absolute;
}
details[open] summary span img{
    transition: 0.3s;
    transform: rotate(-180deg);
}
details summary::marker{
    font-size: 0px;
}
table{
    line-height: 30px;
    font-size: 15px;
}
tr{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 5px;
    text-align: center;
}
th{
    border-right: 0.2px solid rgba(9, 64, 25, 0.1);
    padding-right: 4px;
}
   
.line1{
    border-top: 0.1px solid rgba(9, 64, 25, 0.1) ;
   padding-top: 5px;
}
.line2{
    border-top: 0.1px solid rgba(9, 64, 25, 0.1) ;
    padding-top: 5px;
}
.line3{
    border-top: 0.1px solid rgba(9, 64, 25, 0.1) ;
    padding-top: 5px;
}

/* EDITAR CARDÁPIO */
.editIcon{
    margin: auto;
    width: 13px;
    padding-top: 8px;
    
}
td{
    font-size: 12px;
}
.Voltar{
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin: auto;
    text-align: center;
}
.Voltar p{
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 12px;
    margin-top: 1px;
}
.arrowBack{
    width: 15px;
    height: 13px;
}
.feedbackIcon{
    margin-left: 76%;

}
}