<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/criarCardapio" method="post">
        <input type="text" placeholder="Dia do cardápio" name="diaDoCardapio">
        <input type="text" placeholder="Comida manhã" name="manha">
        <input type="text" placeholder="Almoço" name="almoco">
        <input type="text" placeholder="Comida tarde" name="tarde">
        <input type="text" placeholder="Válido para quais semanas?" name="semanas">
        <button>Criar cardápio</button>
    </form>
</body>
</html>