<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alimentação na E.E.M.T.I Dep. Joaquim de FIgueiredo Correia</title>
     <link rel="stylesheet" href="./assets/css/reset.css">
    <link rel="stylesheet" href="./assets/css/style.css">
</head>
<body>
    <header>

    </header>
    <main>
        <div class="img">
            <img src="./assets/images/SemDesperdícioDeComida.png" alt="Propaganda alusiva ao combate ao desperdício de comida" class="imgPropaganda">

        </div>
        <div class="buttons">
            <a class="ToMenu" href="/cardapio" >Ver cardápio</a>
            <a class="ToLogin" href="/login"> Sou cozinheiro(a)</a>

        </div>
    </main>
    <footer>

    </footer>
</body>
</html>