<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cardápio E.E.M.T.I Dep. Joaquim de Figueiredo Correia</title>
    <link rel="stylesheet" href="./assets/css/reset.css">
    <link rel="stylesheet" href="./assets/css/tela2.css">
</head>
<body>
    <header class="cabecalhoTela5">
        <div class="Voltar"> 
            <a class = "Voltar" href="/ferramentas/<%= user._id %>">
                <img src="./assets/images/flechaIcon.png" alt="Seta para voltar" class="arrowBack">
                <p>Editar cardápio</p>

            </a>
        </div>
        <div class="Logout">
            <img src="./assets/images/doorIcon.png" alt="Porta para sair da aba" class="LogoutDoor">
        </div>
    </header>
    <main>
        <h1 class="cronogramaSemanal">Escolha o dia da semana: </h1>

        <details> 
            <summary>Segunda-feira <span> <img src="./assets/images/arrowIcon.png" alt="imagem de flecha"></span></summary>
            <table>
                <tr class="line1">
                   <th>
                       08:40
                   </th>
                   <td>
                       Cuzcuz e café
                   </td>
                   <td>
                        <img src="./assets/images/editIcon.png" alt="Ícone de edição" class="editIcon">
                   </td>
                </tr>
                <tr class="line2">
                   <th>
                       11:30
                   </th>
                   <td>
                       Arroz, feijão, farofa, frango e suco
                   </td>
                   <td>
                    <img src="./assets/images/editIcon.png" alt="Ícone de edição" class="editIcon2">
               </td>
                </tr>
                <tr class="line3">
                    <th>
                        14:40
                    </th>
                    <td>
                        Bolacha e danone
                    </td>
                    <td>
                        <img src="./assets/images/editIcon.png" alt="Ícone de edição" class="editIcon3">
                   </td>
                 </tr>
            </table>
        </details>
        <details class="terça"> 
            <summary>Terça-feira <span> <img src="./assets/images/arrowIcon.png" alt="imagem de flecha"></span></summary>
            <table>
                <tr class="line1">
                   <th>
                       08:40
                   </th>
                   <td>
                       Cuzcuz e café
                   </td>
                   <td>
                    <img src="./assets/images/editIcon.png" alt="Ícone de edição" class="editIcon">
               </td>
                </tr>
                <tr class="line2">
                   <th>
                       11:30
                   </th>
                   <td>
                       Arroz, feijão, farofa, frango e suco
                   </td>
                   <td>
                    <img src="./assets/images/editIcon.png" alt="Ícone de edição" class="editIcon2">
               </td>
                </tr>
                <tr class="line3">
                    <th>
                        14:40
                    </th>
                    <td>
                        Bolacha e danone
                    </td>
                    <td>
                        <img src="./assets/images/editIcon.png" alt="Ícone de edição" class="editIcon3">
                   </td>
                 </tr>
            </table>
        </details>
        <details class="quarta"> 
            <summary>Quarta-feira <span> <img src="./assets/images/arrowIcon.png" alt="imagem de flecha"></span></summary>
            <table>
                <tr class="line1">
                   <th>
                       08:40
                   </th>
                   <td>
                       Cuzcuz e café
                   </td>
                   <td>
                    <img src="./assets/images/editIcon.png" alt="Ícone de edição" class="editIcon">
               </td>
                </tr>
                <tr class="line2">
                   <th>
                       11:30
                   </th>
                   <td>
                       Arroz, feijão, farofa, frango e suco
                   </td>
                   <td>
                    <img src="./assets/images/editIcon.png" alt="Ícone de edição" class="editIcon2">
               </td>
                </tr>
                <tr class="line3">
                    <th>
                        14:40
                    </th>
                    <td>
                        Bolacha e danone
                    </td>
                    <td>
                        <img src="./assets/images/editIcon.png" alt="Ícone de edição" class="editIcon3">
                   </td>
                 </tr>
            </table>
        </details>
        <details class="quinta"> 
            <summary>Quinta-feira <span> <img src="./assets/images/arrowIcon.png" alt="imagem de flecha"></span></summary>
            <table>
                <tr class="line1">
                   <th>
                       08:40
                   </th>
                   <td>
                       Cuzcuz e café
                   </td>
                   <td>
                    <img src="./assets/images/editIcon.png" alt="Ícone de edição" class="editIcon">
               </td>
                </tr>
                <tr class="line2">
                   <th>
                       11:30
                   </th>
                   <td>
                       Arroz, feijão, farofa, frango e suco
                   </td>
                   <td>
                    <img src="./assets/images/editIcon.png" alt="Ícone de edição" class="editIcon2">
               </td>
                </tr>
                <tr class="line3">
                    <th>
                        14:40
                    </th>
                    <td>
                        Bolacha e danone
                    </td>
                    <td>
                        <img src="./assets/images/editIcon.png" alt="Ícone de edição" class="editIcon3">
                   </td>
                 </tr>
            </table>
        </details>
        <details class="sexta"> 
            <summary>Sexta-feira   <span> <img src="./assets/images/arrowIcon.png" alt="imagem de flecha"></span></summary>
            <table>
                <tr class="line1">
                   <th>
                       08:40
                   </th>
                   <td>
                       Cuzcuz e café
                   </td>
                   <td>
                    <img src="./assets/images/editIcon.png" alt="Ícone de edição" class="editIcon">
               </td>
                </tr>
                <tr class="line2">
                   <th>
                       11:30
                   </th>
                   <td>
                       Arroz, feijão, farofa, frango e suco
                   </td>
                   <td>
                    <img src="./assets/images/editIcon.png" alt="Ícone de edição" class="editIcon2">
               </td>
                </tr>
                <tr class="line3">
                    <th>
                        14:40
                    </th>
                    <td>
                        Bolacha e danone
                    </td>
                    <td>
                        <img src="./assets/images/editIcon.png" alt="Ícone de edição" class="editIcon3">
                   </td>
                 </tr>
            </table>
        </details>
    </main>
    <footer>

    </footer>
</body>
</html>