<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ferramentas para pessoas autorizadas</title>
    <link rel="stylesheet" href="./assets/css/reset.css">
    <link rel="stylesheet" href="./assets/css/tela4.css">
</head>
<body>
    <header class="cabecalho">
        <div class="LogoFiguei"> 
            <img src="./assets/images/logoFigueiredo.png" alt="logo da escola Figueiredo Correia" class="LogoFigueiredoCorreia">
        </div>
        <div class="Logout">
            <a href="/"> 
                    
                <img src="./assets/images/doorIcon.png" alt="Porta para sair da aba" class="LogoutDoor">
            </a>
        </div>
    </header>
    <main>
        <p class="AllFerramentas">Escolha uma opção:</p>

        <div class="Ferramentas"> 
            <div class="editarCardapio"> 
                <img src="./assets/images/menuIcon.png" alt="Ícone de um cardápio" class="Menu">
                <p class="ferramentaCardapio">Editar cardápio <span class="arrow1"> <img src="./assets/images/arrowIcon.png" alt="Ícone de uma flecha"></span></p>
            </div>
            <div class="frequencia"> 
                <img src="./assets/images/studentIcon.png" alt="Ícone demonstrando um estudante" class="student">
                <p class="ferramentaFrequencia">Ver quantidade de alunos <span class="arrow1"> <img src="./assets/images/arrowIcon.png" alt="Ícone de uma flecha"></span></p>
            </div>
            <div class="calculeIngredientes"> 
                <img src="./assets/images/foodIcon.png" alt="Ícone de comida" class="foodIcon">
                <p class="ferramentaCalculadora">Calcular quantidade de ingredientes <span class="arrow1"><img src="./assets/images/arrowIcon.png" alt="Ícone de uma flecha"></span> </p>
            </div>
        </div>
    </main>
</body>
</html>