<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Valor nutricional da alimentação</title>
    <link rel="stylesheet" href="./assets/css/reset.css">
    <link rel="stylesheet" href="./assets/css/tela3.css">
</head>
<body>
    <header class="cabecalho">
      <div class="Voltar"> 
        <a class = "Voltar" href="/cardapio">
         <img src="./assets/images/flechaIcon.png" alt="Seta para voltar" class="arrowBack">
         <p>Informações nutricionais</p>
    
         </a>
       </div>
    </header>
    <main>
       <section>
        <h1>Em breve...</h1>
            <!-- <div class="cafe"> 
                <p class="title">Informações nutricionais do café: </p>
                <div class="card1">
                    <p class="titleCafe">Concentração por 100ml</p>
                    <div class="conteudoCafe"> 
                        <p class="Carbo">Carboidratos: </p>
                        <p class="Proteinas">Proteínas: </p>
                        <p class="Gorduras">Gorduras: </p>
                    </div>
                </div>
            </div>
            <div class="cafe"> 
                <p class="title">Informações nutricionais do cuscuz: </p>
                <div class="card1">
                    <p class="titleCafe">Concentração por 100mg</p>
                    <div class="conteudoCafe"> 
                        <p class="Carbo">Carboidratos: </p>
                        <p class="Proteinas">Proteínas: </p>
                        <p class="Gorduras">Gorduras: </p>
                    </div>
                </div>
            </div> -->
       </section>
    </main>
    <footer>

    </footer>
</body>
</html>